
:root {
  --main-font: 'IBM Plex Mono', sans-serif;
  --mobile-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-font-size: 1.125em;
  --normal-font-weight: 400;
  --bold-font-weight: 700;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --reserv-text-color: #FF0070;
  --text-color: #000028;
  --paragraph-text-color: #F1B2CE;
  --mobile-padding: 10px;
  --mobile-main-section-padding: 40px 10px;
  --mobile-gallery-section-padding: 10px 10px 40px;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);

  --desktop-padding: 20px;
  --desktop-main-section-padding: 60px 20px;
  --desktop-gallery-section-padding: 20px 20px 60px;
  --desktop-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}